.urls-grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    #text-area {
        grid-column: 2 / 3;
        textarea {
            height: calc(100vh - 350px);
        }
    }

}

.button-grid {
    position:absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    align-items: center;
    justify-items: center;
    height: 200px;
    width: 100%;

    #button-to-zip {
        grid-column: 1 / 2;
    }

    #button-to-device {
        grid-column: 3 / 4;
    }
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}